*,
*:before,
*:after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  width: 100%;
  min-width: 260px;
  max-width: 1920px;
  margin: 0 auto;
  font: 14px/1.375 'Open Sans', "OpenSans", sans-serif;
  color: black;
  position: relative;
  box-sizing: border-box;
}
/* page-header */
.page-header {
  display: block;
  position: relative;
  min-height: 460px;
}
.main-nav__header {
  position: absolute;
  z-index: 33;
  width: 100%;
  top: 0px;
  padding: 20px;
  background: white;
}
.main-nav__header--open {
  background: #283645;
}
.main-nav__header--no-js {
  position: relative;
  padding: 0px;
  background: #283645;
}
.main-nav__header--no-js .main-nav__logo {
  margin: 20px 20px;
  padding-top: 20px;
}
.main-nav__header--no-js .main-nav__title {
  margin: 15px 20px 0;
}
.main-nav__header--no-js .main-nav__button {
  display: none;
}
.main-nav__title {
  color: transparent;
}
.main-nav__title .logotype-mobile {
  display: inline-block;
}
.main-nav__title .logotype-tablet,
.main-nav__title .logotype-desktop {
  display: none;
}
.main-nav__title .logotype {
  fill: white;
}
.main-nav__title:hover .logotype {
  fill: #d22856;
}
.main-nav__title:active .logotype {
  fill: #fff;
  opacity: 0.3;
}
.main-nav__button {
  float: right;
  width: 24px;
  height: 24px;
  background: url(../img/menu-cross.png) no-repeat 0 0;
}
.main-nav__button:hover {
  background: url(../img/menu-cross-hvr.png) no-repeat 0 0;
}
.main-nav__button:active {
  opacity: 0.3;
}
.main-nav__button--close {
  width: 50px;
  background: url(../img/icon-menu.png) no-repeat 0 0;
  transition: 500ms;
}
.main-nav__button--close:hover {
  background: url(../img/icon-menu-hvr.png) no-repeat 0 0;
}
.main-nav__button--close:active {
  opacity: 0.3;
}
.main-nav__list {
  position: absolute;
  z-index: 22;
  width: 100%;
  padding: 0;
  margin: 20px -20px;
  background: #283645;
}
.main-nav__item {
  display: inline-block;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid black;
}
.main-nav__item:first-child {
  border-top: 1px solid black;
}
.main-nav__item a {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}
.main-nav__item a:hover {
  color: #d22856;
}
.main-nav__item a:active {
  opacity: 0.3;
}
.intro {
  position: relative;
  text-align: center;
}
.header__intro {
  position: relative;
  height: 450px;
  text-align: center;
  background: #1d2630;
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 0%;
  background-size: cover;
}
.header__intro img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}
.header__intro__text {
  display: none;
}
.header-download {
  display: block;
  width: 100%;
  min-height: 270px;
  padding: 0px;
  padding-top: 30px;
  text-align: center;
  background: #1d2630;
}
.header-download .intro__logo {
  display: block;
  margin: 0px 20px;
  margin-top: 30px;
}
.header-download .intro__logo a {
  margin-right: 30px;
}
.header-download .intro__logo a:last-child {
  margin-right: 0px;
}
.intro-btn {
  display: inline-block;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
  border-radius: 25px;
}
.intro-btn:hover {
  background: white;
  color: #d22856;
}
.intro-btn:active {
  color: rgba(210, 40, 86, 0.3);
}
.intro__text {
  display: inline-block;
  max-width: 300px;
  margin: 20px 20px;
  line-height: 24px;
  font-family: "OpenSansLight";
  text-align: center;
}
.menu-burger {
  border: 1px solid black;
  fill: red;
}
.menu-burger:hover {
  fill: red;
}
.photo__title span {
  display: none;
}
.contest-form-group {
  width: 100%;
  padding: 0 20px;
  padding: 40px 20px;
  vertical-align: middle;
}
.contest-form-group fieldset {
  padding: 25px 0;
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  border: none;
}
.contest-form-group legend {
  text-align: center;
}
.contest-form-group label {
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  text-transform: uppercase;
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
}
.contest-form-group input {
  display: inline-block;
  padding: 15px 30px;
  width: 100%;
  border: 2px solid #e5e5e5;
  color: #d22856;
}
.contest-form-group input::-webkit-input-placeholder,
.contest-form-group input::-webkit-input-placeholder {
  color: #283645;
}
.contest-form-group input:hover {
  border: 2px solid black;
}
.contest-form-group input:focus {
  outline: 0;
  border: 2px solid #d22856;
}
.contest-form-group textarea::-webkit-input-placeholder,
.contest-form-group textarea::-webkit-input-placeholder {
  color: #283645;
}
.contest-form-group textarea:hover {
  border: 2px solid black;
}
.contest-form-group textarea:focus {
  outline: 0;
  border: 2px solid #d22856;
}
.contest-form-group input[placeholder],
.contest-form-group textarea[placeholder] {
  font-size: 18px;
  line-height: 30px;
}
.contest-form-group textarea[placeholder] {
  padding: 25px;
}
.name-group label {
  margin-top: 20px;
}
.checkbox-group {
  background: #f2f2f2;
  padding-bottom: 40px;
}
.checkbox-group input {
  display: none;
}
.checkbox-group label {
  color: #283645;
  font-size: 18px;
  margin-left: 0;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.check {
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  flex-basis: 40px;
  flex-shrink: 0;
  cursor: pointer;
  background: white;
  border: 2px solid #e5e5e5;
}
.check:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 7px;
  display: inline-block;
  width: 10px;
  height: 3px;
  background: #d22856;
  transform: rotate(45deg);
  display: none;
}
.check:after {
  content: "";
  position: absolute;
  top: 17px;
  left: 12px;
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #d22856;
  transform: rotate(-45deg);
  display: none;
}
.check:hover {
  border: 2px solid black;
}
.check:active {
  border: 2px solid #d22856;
}
.checkbox__input:checked ~ .check:before,
.checkbox__input:checked ~ .check:after {
  display: block;
}
.contact-group legend {
  display: none;
}
.contact-group label {
  margin-top: 25px;
}
.contact-group input {
  box-sizing: border-box;
  padding-right: 70px;
}
.contact-group p {
  display: none;
  padding-left: 30px;
  text-transform: uppercase;
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
}
.phone {
  position: relative;
  width: 100%;
}
.phone:before {
  content: '';
  position: absolute;
  display: inline-block;
  z-index: 2;
  top: 2px;
  right: 2px;
  width: 60px;
  height: 60px;
  background: #e5e5e5 url(../img/icon-phone.svg) no-repeat 50% 50%;
}
.mail {
  position: relative;
  width: 100%;
}
.mail:before {
  content: '';
  position: absolute;
  display: inline-block;
  z-index: 2;
  top: 2px;
  right: 2px;
  width: 60px;
  height: 60px;
  background: #e5e5e5 url(../img/icon-mail.svg) no-repeat 50% 50%;
}
.radio-group {
  background: #f2f2f2;
}
.radio-group input {
  display: none;
}
.radio-group label {
  display: flex;
  align-items: center;
}
.radio-group label:nth-child(3) {
  margin-top: 40px;
  margin-bottom: 40px;
}
.radio {
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 30px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  border: 2px solid #e5e5e5;
}
.radio:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d22856;
  display: none;
}
.radio:hover {
  border: 2px solid black;
}
.radio:active {
  border: 2px solid #d22856;
}
.radio__input:checked ~ .radio:before {
  display: block;
}
.emotions-group textarea {
  width: 100%;
  height: 200px;
}
.submit-group .btn {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  background: #2aab6d;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.submit-group .btn:hover {
  background: #1c9b5e;
}
.submit-group .btn:active {
  opacity: 0.3;
  transition: opacity 1s linear;
}
.require__title {
  margin-top: 40px;
  text-align: center;
  line-height: 30px;
  color: #283645;
}
.require__title span {
  color: #d22856;
}
/* map */
.map {
  position: relative;
  height: 300px;
  background: url(../img/triangle-white-footer-tabl.png) no-repeat 50% 0%, url(../img/map-tab.jpg) no-repeat 50% 70%;
  background-size: 100%;
}
#map::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 95px;
  z-index: 5;
}
#map {
  display: none;
  position: relative;
  height: 100%;
  z-index: 1;
}
#map::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 95px;
  z-index: 5;
}
/* map */
.map {
  position: relative;
  height: 300px;
  background: url(../img/triangle-white-footer-tabl.png) no-repeat 50% 0%, url(../img/map-tab.jpg) no-repeat 50% 70%;
  background-size: 100%;
}
#map::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 95px;
  z-index: 5;
}
#map {
  display: none;
  position: relative;
  height: 100%;
  z-index: 1;
}
#map::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 95px;
  z-index: 5;
}
/* map */
.map {
  position: relative;
  height: 300px;
  background: url(../img/triangle-white-footer-tabl.png) no-repeat 50% 0%, url(../img/map-tab.jpg) no-repeat 50% 70%;
  background-size: 100%;
}
#map::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 95px;
  z-index: 5;
}
#map {
  display: none;
  position: relative;
  height: 100%;
  z-index: 1;
}
#map::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 95px;
  z-index: 5;
}
/* map */
.map {
  position: relative;
  height: 300px;
  background: url(../img/triangle-white-footer-tabl.png) no-repeat 50% 0%, url(../img/map-tab.jpg) no-repeat 50% 70%;
  background-size: 100%;
}
#map::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 95px;
  z-index: 5;
}
#map {
  display: none;
  position: relative;
  height: 100%;
  z-index: 1;
}
#map::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 95px;
  z-index: 5;
}
/* page-footer */
.page-footer {
  display: none;
  z-index: 5;
}
.footer-wrap {
  width: 100%;
  padding: 0 20px;
  min-height: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo .logotype__desktop {
  display: none;
}
.footer__logo .logotype {
  fill: #283645;
}
.footer__logo:hover .logotype {
  fill: #d22856;
}
.footer__logo:active .logotype {
  opacity: 0.3;
}
.social__btn {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.social__btn img {
  position: relative;
  max-width: 100%;
  top: 35%;
}
.social__btn:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  height: 60px;
  background: white;
  opacity: 0.1;
  border-radius: 50%;
  border: 3px solid #283645;
}
.social__btn:hover:before {
  opacity: 1;
}
.social__btn:active {
  opacity: 0.3;
}
.footer-copyright p {
  display: inline-block;
  font-size: 14px;
  color: #283645;
}
.footer-copyright a {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 15px;
  vertical-align: middle;
  background: url(../img/icon-htmlacademy.png) no-repeat 0 50%;
  background-size: auto;
}
.footer-copyright a:hover {
  background: url(../img/icon-htmlacademy-hvr.png) no-repeat 0 50%;
}
.footer-copyright a:active {
  background: url(../img/icon-htmlacademy-down.png) no-repeat 0 50%;
}
.page-footer-vision {
  display: block;
}
@media (min-width:700px) {
  .main-nav__header {
    padding: 25px 40px;
    min-height: 100px;
  }
  .main-nav__header--open {
    background: #283645;
  }
  .main-nav__title .logotype-mobile,
  .main-nav__title .logotype-desktop {
    display: none;
  }
  .main-nav__title .logotype-tablet {
    display: inline-block;
  }
  .main-nav__button {
    margin: 15px 0px;
  }
  .main-nav__list--closed {
    display: none;
  }
  .main-nav__list {
    margin: 0 -40px;
  }
  .main-nav__list--no-js {
    display: inline-block;
    position: relative;
    margin: 0;
  }
  .header__intro {
    height: 725px;
    background: url(../img/bg-back-tablet@1x.jpg) no-repeat 50% 0%;
  }
  .header__intro__text {
    display: block;
    font-family: "OpenSansLight";
    font-size: 40px;
  }
  .header-download {
    position: absolute;
    bottom: 105px;
    left: 6%;
    width: 50%;
    background: none;
  }
  .intro__text {
    font-size: 18px;
  }
  .photo__title span {
    display: block;
  }
  .contest-form-group {
    width: 100%;
    padding: 0 40px;
  }
  .contest-form-group fieldset {
    border: 2px solid #e5e5e5;
    padding: 45px 60px;
  }
  .contest-form-group {
    margin-top: 60px;
  }
  .name-group label {
    display: inline-block;
  }
  .group__name {
    display: flex;
    margin-top: 55px;
  }
  .group__name label {
    width: auto;
    margin-right: 25px;
  }
  .group__name input {
    flex-grow: 2;
  }
  .group__name input[placeholder] {
    flex-grow: 2;
  }
  .checkbox-group {
    background: none;
  }
  .contact-group legend {
    display: block;
  }
  .contact-group label {
    display: none;
  }
  .contact-group p {
    display: block;
  }
  .radio-group {
    background: none;
  }
  .submit-group {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .submit-group .btn {
    width: 50%;
  }
  .require__title {
    margin-top: 0;
  }
  .page-footer {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 125px;
    bottom: 0;
    background: white;
    z-index: 5;
  }
  .footer-wrap {
    width: 100%;
    padding: 0 40px;
  }
  .footer__logo .logotype__desktop {
    display: none;
  }
  .footer__logo .logotype__tablet {
    display: inline-block;
  }
}
@media (min-width:700px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width:700px) and (min-resolution: 144dpi), (min-width:700px) and (min-resolution: 1.5dppx) {
  .header__intro {
    background: url(../img/bg-back-tablet@2x.jpg) no-repeat 50% 0%;
    background-size: 1200px auto;
  }
}
@media (min-width: 700px) {
  #map {
    display: block;
  }
  #map::before {
    height: 120px;
    z-index: 5;
    background: url(../img/triangle-white-footer-tabl.png) no-repeat 50% 0%;
    background-size: 100% 120px;
  }
  .map {
    height: 380px;
  }
  #map {
    display: block;
  }
  #map::before {
    height: 120px;
    z-index: 5;
    background: url(../img/triangle-white-footer-tabl.png) no-repeat 50% 0%;
    background-size: 100% 120px;
  }
  .map {
    height: 380px;
  }
  #map {
    display: block;
  }
  #map::before {
    height: 120px;
    z-index: 5;
    background: url(../img/triangle-white-footer-tabl.png) no-repeat 50% 0%;
    background-size: 100% 120px;
  }
  .map {
    height: 380px;
  }
  #map {
    display: block;
  }
  #map::before {
    height: 120px;
    z-index: 5;
    background: url(../img/triangle-white-footer-tabl.png) no-repeat 50% 0%;
    background-size: 100% 120px;
  }
  .map {
    height: 380px;
  }
}
@media (min-width:1200px) {
  .main-nav__header {
    display: inline-block;
    position: absolute;
    padding: 0px 130px;
    min-height: 110px;
    background: rgba(0, 0, 0, 0.1);
  }
  .main-nav__title .logotype-tablet,
  .main-nav__title .logotype-mobile {
    display: none;
  }
  .main-nav__title .logotype-desktop {
    display: inline-block;
    margin-top: 15px;
  }
  .main-nav__button {
    display: none;
  }
  .main-nav__list {
    display: inline-block;
    position: relative;
    width: 73%;
    min-height: 30px;
    margin-left: 13%;
    top: 0px;
    z-index: 22;
    vertical-align: middle;
    background: none;
  }
  .main-nav__item a:hover {
    color: #fff;
    border-bottom: 2px solid white;
  }
  .main-nav__item a:active {
    opacity: 0.3;
    border-bottom: none;
  }
  .main-nav__item--active a:hover {
    opacity: 1;
    color: #d22856;
    border-bottom: 2px solid #d22856;
  }
  .main-nav__item--active a:active {
    opacity: 0.3;
    border-bottom: none;
  }
  .main-nav__item {
    display: inline-block;
    background: none;
    width: auto;
    padding: 0;
    margin-left: 50px;
    border: none;
  }
  .main-nav__item:first-child {
    border: none;
  }
  .main-nav__item a {
    text-transform: none;
    font-weight: normal;
  }
  .header__intro {
    height: 855px;
    background: url(../img/bg-back-desktop@1x.jpg) no-repeat 50% 0%;
  }
  .header__intro__text {
    display: block;
    font-family: "OpenSansLight";
    font-size: 50px;
  }
  .header-download {
    width: 25%;
    left: 10%;
  }
  .intro__text {
    max-width: 350px;
  }
  .contest-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contest-form-group {
    width: 100%;
    max-width: 1920px;
    padding: 0 130px;
  }
  .name-group {
    order: 1;
    width: 50%;
    padding-right: 0;
  }
  .group__name:first-child {
    margin-top: 25px;
  }
  .checkbox-group label {
    padding: 0;
    width: 32%;
  }
  .checkbox-group {
    order: 4;
  }
  .checkbox__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact-group {
    order: 3;
  }
  .contact__block {
    display: flex;
    justify-content: space-between;
  }
  .phone {
    width: 40%;
  }
  .mail {
    width: 40%;
  }
  .radio-group {
    order: 2;
    width: 50%;
  }
  .emotions-group textarea {
    height: 100px;
  }
  .emotions-group {
    order: 5;
  }
  .submit-group .btn {
    width: 30%;
  }
  .page-footer {
    min-height: 200px;
    z-index: 5;
  }
  .footer-wrap {
    width: 100%;
    max-width: 1920px;
    padding: 0 130px;
  }
  .footer-wrap {
    min-height: 200px;
  }
  .footer__logo .logotype__tablet {
    display: none;
  }
  .footer__logo .logotype__desktop {
    display: inline-block;
  }
  .footer-copyright p {
    font-size: 18px;
  }
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width:1200px) and (min-resolution: 144dpi), (min-width:1200px) and (min-resolution: 1.5dppx) {
  .header__intro {
    background: url(../img/bg-back-desktop@2x.jpg) no-repeat 50% 0%;
    background-size: 2560px auto;
  }
}
@media (min-width: 1200px) {
  #map::before {
    height: 150px;
    background: url(../img/triangle-white-footer-des.png) no-repeat 50% 0%;
    background-size: 100% 150px;
  }
  .map {
    height: 500px;
  }
  #map::before {
    height: 150px;
    background: url(../img/triangle-white-footer-des.png) no-repeat 50% 0%;
    background-size: 100% 150px;
  }
  .map {
    height: 500px;
  }
  #map::before {
    height: 150px;
    background: url(../img/triangle-white-footer-des.png) no-repeat 50% 0%;
    background-size: 100% 150px;
  }
  .map {
    height: 500px;
  }
  #map::before {
    height: 150px;
    background: url(../img/triangle-white-footer-des.png) no-repeat 50% 0%;
    background-size: 100% 150px;
  }
  .map {
    height: 500px;
  }
}
@media (max-width:699px) {
  .main-nav__list--closed {
    display: none;
  }
  .main-nav__list--no-js {
    display: inline-block;
    position: relative;
    margin: 0;
  }
  .footer-wrap {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .footer-social {
    margin: 40px 0;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .header__intro {
    background: url(../img/bg-back-mobile@2x.jpg) no-repeat 50% 0%;
    background-size: 700px auto;
  }
}
