@font-face {
  font-family: OpenSansLight;
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSansBold;
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSansSemibold;
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.text-shadow {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  width: 100%;
  min-width: 260px;
  margin: 0 auto;
  font-size: 16px;
  font-family: OpenSansLight;
  color: #6d6e71;
  position: relative;
  box-sizing: border-box;
}
input,
button {
  outline: none;
}
h1 {
  font-size: 58px;
  font-family: OpenSansBold;
  text-transform: uppercase;
}
h2 {
  font-size: 44px;
  font-family: OpenSansBold;
}
h3 {
  font-size: 26px;
  font-family: OpenSansBold;
}
.main-header-top {
  background-color: #eceef4;
}
.main-header-top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-header-nav {
  padding: 15px 0;
}
.main-header-nav__list {
  display: flex;
  list-style: none;
  text-align: center;
}
.main-header-nav__item {
  width: 100px;
  margin-right: 5px;
}
.main-header-nav__item:last-child {
  margin-right: 0;
}
.main-header-nav__link {
  display: block;
  padding: 7px 10px;
  padding-left: 35px;
  border-radius: 3px;
  background-color: #fff;
  text-decoration: none;
  font-family: OpenSansBold;
  font-size: 12px;
  color: #6d6e71;
  transition: 0.3s;
}
.main-header-nav__link:hover {
  background-color: #f7f7f7;
}
.main-header-social__list {
  display: flex;
  list-style: none;
}
.main-header-social__item {
  width: 66px;
  height: 63px;
}
.main-header-social__item:first-child .main-header-social__link {
  border-left: 1px solid #dee0e6;
}
.main-header-social__link {
  display: block;
  width: 100%;
  height: 100%;
  border-right: 1px solid #dee0e6;
  transition: 0.3s;
}
.main-header-social__link:hover {
  background-color: #f7f7f7;
}
.main-header-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 50px;
}
.main-header-logo {
  width: 405px;
  height: 95px;
  margin-left: -17px;
  background-image: url('../images/logo.png');
  background-position: left center;
}
.main-header-contacts {
  width: 240px;
  text-align: center;
}
.main-header-contacts__address-tooltip {
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #d4d4d5;
  border-radius: 5px;
}
.main-header-contacts__items {
  display: flex;
}
.main-header-contacts__item {
  position: relative;
  width: 33.33%;
  height: 45px;
}
.main-header-contacts__item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 24px;
  background-color: #bcbec3;
  transform: translatey(-50%);
}
.main-header-contacts__item:last-child::after {
  display: none;
}
.main-header-bottom {
  border-top: 1px solid #eceef4;
}
.main-header-bottom__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-header-anchors__list {
  display: flex;
  list-style: none;
}
.main-header-anchors__item:last-child .main-header-anchors__link {
  border-right: none;
}
.main-header-anchors__item--active .main-header-anchors__link {
  color: #1faae2;
}
.main-header-anchors__link {
  display: block;
  padding: 35px 20px;
  border-right: 1px solid #eceef4;
  text-decoration: none;
  color: #6d6e71;
  font-family: OpenSansBold;
  font-size: 13px;
  transition: 0.3s;
}
.main-header-anchors__link:hover {
  background-color: #f7f7f7;
}
.main-header-search-form__input {
  padding: 34px 20px;
  padding-left: 40px;
  border: none;
  font-size: 15px;
  font-family: OpenSansLight;
}
.main-header-search-form__input:-ms-input-placeholder {
  font-size: 15px;
  font-family: OpenSansLight;
}
.main-header-search-form__input::placeholder {
  font-size: 15px;
  font-family: OpenSansLight;
}
.home {
  padding-top: 245px;
  padding-bottom: 125px;
  background-image: url('../images/home-background.jpg');
  background-position: top center;
  color: #fff;
}
.home__wrapper {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.home__headers {
  margin-left: 200px;
  margin-bottom: 135px;
}
.home__header {
  position: relative;
  z-index: 1;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.home__header::before {
  content: '&';
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 7px;
  color: #bbedff;
  font-size: 120px;
  text-shadow: none;
}
.home__underheader {
  padding-left: 110px;
  font-size: 45px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.home-slider {
  display: flex;
  justify-content: flex-end;
}
.home-slider__wrapper {
  display: flex;
  height: 240px;
}
.home-slider__arrow {
  width: 110px;
  height: 241px;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: 0.3s;
}
.home-slider__arrow:hover {
  background-color: #dadada;
}
.home-slide {
  position: relative;
}
.home-slide__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.home-slide__bottom--green {
  background-color: rgba(138, 202, 81, 0.8);
}
.home-slide__bottom--green:hover {
  background-color: #8aca51;
}
.home-slide__bottom--lightgreen {
  background-color: rgba(254, 235, 117, 0.8);
  color: #cc9800;
}
.home-slide__bottom--lightgreen:hover {
  background-color: #feeb75;
}
.home-slide__text {
  padding-left: 45px;
  font-family: OpenSansSemibold;
  font-size: 14px;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  padding-bottom: 110px;
  background-image: url('../images/divide.png');
  background-position: bottom center;
}
.about-item {
  width: 530px;
  padding-top: 15px;
  padding-left: 135px;
  background-position: left top;
}
.about-item__header {
  margin-bottom: 15px;
}
.about-item__text {
  text-align: justify;
  line-height: 24px;
}
.about-item--left {
  background-image: url('../images/isama.png');
}
.about-item--right {
  background-image: url('../images/why-we.png');
}
.activity-areas {
  padding-top: 60px;
}
.activity-areas__wrapper {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.activity-areas-head {
  width: 580px;
  margin: 0 auto 80px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 165px;
  background-image: url('../images/what-we-do.png');
  background-position: left center;
}
.areas-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.area {
  display: flex;
  width: 510px;
  margin-bottom: 90px;
}
.area__image {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  background-position: center;
}
.area:first-child .area__image {
  background-image: url('../images/wwd-1.png');
}
.area:nth-child(2) .area__image {
  background-image: url('../images/wwd-2.png');
}
.area:nth-child(3) .area__image {
  background-image: url('../images/wwd-3.png');
}
.area:nth-child(4) .area__image {
  background-image: url('../images/wwd-4.png');
}
.area:nth-child(5) .area__image {
  background-image: url('../images/wwd-5.png');
}
.area:nth-child(6) .area__image {
  background-image: url('../images/wwd-6.png');
}
.area__header {
  margin-bottom: 15px;
}
.area__text {
  text-align: justify;
}
.projects-rounded-top {
  width: 100%;
  height: 50px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: #efefef;
}
.projects {
  padding-bottom: 85px;
  background-color: #efefef;
}
.projects__wrapper {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.projects-head {
  width: 580px;
  margin: 0 auto 80px;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 165px;
  background-image: url('../images/projects.png');
  background-position: left center;
}
.projects-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.projects-tabs__item {
  margin-right: 14px;
  padding: 10px;
  border: 2px solid #cecece;
  border-radius: 4px;
  text-align: center;
  font-family: OpenSansBold;
  font-size: 15px;
  color: #bbbbbb;
  cursor: pointer;
  transition: 0.3s;
}
.projects-tabs__item:last-child {
  margin-right: 0;
}
.projects-tabs__item:hover {
  background-color: #fff;
  border-color: #fff;
  color: #6d6e71;
}
.projects-tabs__item--active {
  background-color: #fff;
  border-color: #fff;
  color: #6d6e71;
}
.projects-tabs__item--width-120px {
  width: 120px;
}
.projects-tabs__item--width-155px {
  width: 155px;
}
.projects-tabs__item--width-100px {
  width: 100px;
}
.project-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-item {
  width: 278px;
  margin-bottom: 17px;
  padding: 0 13px;
  padding-top: 15px;
  border-radius: 5px;
  background-color: #fff;
}
.project-item__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.project-item__buttons {
  display: flex;
  width: 100%;
}
.project-item__buttons * {
  width: 50%;
  height: 60px;
  cursor: pointer;
  transition: 0.3s;
}
.project-item__buttons *:hover {
  background-color: #f7f7f7;
}
.project-item__link {
  border-right: 1px solid #efefef;
}
.map {
  position: relative;
  height: 500px;
}
#google-map {
  display: block;
  position: relative;
  height: 100%;
  z-index: 1;
}
.map-link {
  display: block;
  position: absolute;
  z-index: 22;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
}
.map-link__popover {
  display: none;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2;
  padding: 10px 25px;
  min-width: 220px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #dbdbdb;
  border-style: solid;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px 0px rgba(1, 1, 1, 0.13);
  color: #6d6e71;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
}
.map-link__popover:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: rotate(45deg) translate(-50%, 0%);
  z-index: 0;
  width: 20px;
  height: 20px;
  background: white;
}
.map-link__item {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 61px;
  height: 61px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #dbdbdb;
  border-style: solid;
  box-shadow: 0px 0px 40px 0px rgba(1, 1, 1, 0.13);
  background: white;
  margin-right: 10px;
}
.map-link__item--adress {
  background: white url('../images/icons/icon-place.png') no-repeat center center;
}
.map-link__item--adress:hover {
  background: #1ea5db url('../images/icons/icon-place-white.png') no-repeat center center;
}
.map-link__item--adress:hover > .map-link__popover {
  display: block;
}
.map-link__item--mail {
  background: white url('../images/icons/icon-mail.png') no-repeat center center;
}
.map-link__item--mail:hover {
  background: #1ea5db url('../images/icons/icon-mail-white.png') no-repeat center center;
}
.map-link__item--mail:hover > .map-link__popover {
  display: block;
}
.map-link__item--phone {
  background: white url('../images/icons/icon-phone.png') no-repeat center center;
}
.map-link__item--phone:hover {
  background: #1ea5db url('../images/icons/icon-phone-white.png') no-repeat center center;
}
.map-link__item--phone:hover > .map-link__popover {
  display: block;
}
.map-link__item:last-child {
  margin-right: 0;
}
