
/* map */

.map {
  position: relative;
  height: 500px;
}

.map-link {
  display: block;
  position: absolute;
  z-index: 22;
  left:50%;
  bottom: 70px;
  transform: translateX(-50%);
  background: white;

  &__popover {
    display: none;
  }


  &__item {
    display: inline-block;
    width:61px;
    height:61px;
    margin-right: 10px;

    &:last-child {}
      margin-right: 0;
  }
}


#google-map {
    display: block;
  position: relative;
  height: 100%;
  z-index: 1;

}
