.container {
	width: 1200px;
	padding: 0 20px;
    margin: 0 auto;

	 @media @tablet-width {
	 	width:100%;
	 }

	 @media @mobile-width {
	 	width:100%;
	 	max-width: 0px;
	 }
}

.transition (@time: 0.3s) {
  transition: @time;
}

.border-radius (@radius: 3px) {
  border-radius: @radius;
}

.text-shadow {
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);	
}
