// text colors
@text-gray: #6d6e71;
@text-active: #1faae2;

// bg colors
@background-light-gray: #eceef4;
@background-light-gray-hover: #f7f7f7;
@background-gray: #f4f4f4;
@background-gray-hover: #dadada;

// borders colors
@border-lightest-gray: #eceef4;
@border-light-gray: #dee0e6;
@border-gray: #d4d4d5;
@border-dark-gray: #bcbec3;

// common colors
@white: #fff;
@white-hover: #f7f7f7;
@black: #000;

// font sizes
@font-size-basic: 14px;

// media queries
@tablet-widths: ~ "(min-width: 1180px)";
