
@mobile-widths: ~ "(max-width:699px)";
@tablet-widths: ~ "(min-width:700px)";
@desktop-widths: ~ "(min-width:1200px)";
@retina: ~ "(min-resolution: 144dpi)",~ "(min-resolution: 1.5dppx)";


@white: #fff;
@black: #000;
@black-transparent: rgba(0, 0, 0, 0.1);
@blue-medium: #283645;
@blue-dark: #1d2630;
@grey-dark: #2d3d4d;
@gray-light: #f2f2f2;
@gray-transparent: rgba(178, 178, 178, .3);
@red: #d22856;
@red-transparent: rgba(210, 40, 86, .3);
@gray-border:#e5e5e5;
@green:#2aab6d;
@green-hvr:#1c9b5e;

@font-size-base:14px;
@font-size-medium:18px;
@font-size-big:24px;






@font-size-small_tablet:18px;
@font-size-medium_tablet:24px;
@font-size-big_tablet:40px;


@font-size-small_desktop: 18px;
@font-size-medium_desktop: 30px;
@font-size-big_desktop: 50px;